@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    font-family: 'Karla', sans-serif;

    --bg: #f5f5f5;
    --white: #ffffff;
    --red: #cf3737;
    --light-red: #da4f4f;
    --blue: #3b5bfd;
    --light-blue: #476bee;
    --dark: #838282;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    background: var(--bg);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.card {
    background: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;

    width: 60vw;
    min-width: 300px;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex;
    align-items: center;

    width: 100%;
}

.card-content .completed {
    text-decoration: line-through;
}

.title {
    margin: 30px;
    text-align: center;
    font-size: 3rem;
}

.btn {
    min-width: 100px;
    min-height: 40px;

    padding: 10px;
    color: var(--white);
    border: none;
    border-radius: 3px;
    transition: 0.2s;
}

.btn-danger {
    background: var(--red);
}

.btn-danger:hover {
    background: var(--light-red);
}

.btn-primary {
    background: var(--blue);
}

.btn-primary:hover {
    background: var(--light-blue);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    margin: 0;

    font: inherit;
    color: currentColor;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid currentColor;
    border-radius: 3px;

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.form input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid var(--dark);
    outline: none;

    transition: 0.2s;
}

.form input:focus {
    border-bottom: 2px solid var(--blue);
}

.label {
    font-size: 1.2rem;
}

.form .field {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.expanded-field input {
    width: 100%;
}

.form .actions-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.btn-create-todo {
    margin-top: 1rem;
}